*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}
 
ol,ul,li{
    list-style: none;
}

html,body{
    height: 100%;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Russo One ,sans-serif;
    /* background-image: url(./images/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

}

.background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.text_game{
    position: absolute;
    margin-bottom: 25px;
}

.title{
    font-size: 46px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.832) ;
    padding: 30px;
}
.title_game{
    text-align: center;
}

.time_text{
    opacity: 0;
    visibility: hidden;
}

.time_text.active{
    opacity: 1;
    visibility: visible;
}
.table td {
    width: 52px;
    height: 52px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.982);
    opacity: 0.8;
}

.table td.tank{
   background-image: url(./images/Без\ названия.jfif);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.table td.bullet{
   background-image: url(./images/IMG_0085-1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
} 


.table_back{
    background-color: rgb(255, 81, 0);

}

.pop_up{
    display: none;
    opacity: 0;
    visibility: hidden;
}


.pop_up.open{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.838);
    backdrop-filter: blur(7px);
    width: 100%;
    min-height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.pop_bottom{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.pop_bottom.open{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.838);
    backdrop-filter: blur(7px);
    width: 100%;
    min-height: 100vh;
    opacity: 10;
    visibility: visible;
    z-index: 10;
}

.pop_row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    z-index: 10;
}

.pop_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.pop_title{
    font-size: 38px;
}

.pop_desc{
    font-size: 19px;
}

.pop_button{
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;

}

.pop_button_title{
    font-size: 22px;
}

.pop_marked{
    color: rgba(255, 0, 0, 0.677);
}


.restart_button{
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 30px;
    gap: 30px;
    border: none;
}

.restart_text{
    font-family: Russo One ,sans-serif;
    font-size: 16px;
}

.bottom_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.col{
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 30px;

}

.bullet_sum{
    font-size: 26px;
}

.modal{
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal.open{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.838);
    backdrop-filter: blur(7px);
    width: 100%;
    min-height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.modal_panel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    z-index: 10;
}

.modal_desc{
    font-size: 26px;
    color: rgba(0, 0, 0, 0.748);
}

.modal_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}